input.editor__endpoint-input {
  flex-grow: 1;
  font-size: 1rem;
  height: 100%;
  width: 2rem;
  outline: none;
  background-color: #2E3235;
  border: none;
  border-left: 1px solid #48515B;
  border-right: 1px solid #48515B;
  padding: 0 1rem 0;
  margin-left: 1rem;
  color: #fffffc;
}

span.MuiButton-startIcon svg.MuiSvgIcon-root {
  font-size: 1rem;
}

button.editor__button:hover {
  background-color: darken($color: #AD7630, $amount: 10);
}

.editor__query {
  flex-grow: 1;
}

.MuiButtonBase-root.editor__tab {
  color: #fffffc8c;
  padding: 0.2rem 0.5rem;
  min-height: 10px;
}

.MuiButtonBase-root.editor__tab.Mui-selected {
  color: #fffffc;
  border: none;
}

span.MuiTabs-indicator {
  display: none;
}
