div.editor.MuiContainer-root {
  padding: 0;
}

input.editor__endpoint-input {
  flex-grow: 1;
  height: 100%;
  outline: none;
  background-color: #2E3235;
  border: none;
  border-left: 1px solid #48515B;
  border-right: 1px solid #48515B;
  padding: 0 1rem 0;
  margin-left: 1rem;
  color: #fffffc;
}

span.MuiButton-startIcon svg.MuiSvgIcon-root {
  font-size: 1rem;
}

button.editor__button:hover {
  background-color: darken($color: #AD7630, $amount: 10);
}

.editor__query {
  flex-grow: 1;
}

.MuiButtonBase-root.editor__tab {
  color: #fffffc8c;
  padding: 0.2rem 0.5rem;
  min-height: 10px;
}

.MuiButtonBase-root.editor__tab.Mui-selected {
  color: #fffffc;
  border: none;
}

span.MuiTabs-indicator {
  display: none;
}

.editor__tab-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292D30;
  padding: 0.2rem;

  &--open {
    border-bottom: 1px solid #48515B;
  }
}

.editor__expand-icon--close {
  transform: rotate(180deg);
}

.MuiSvgIcon-root.editor__docs-icon {
  font-size: 1rem;
  transition: 0.3s;

  &--open {
    transform: rotate(180deg);
    transform-origin: 25% center;
  }
}

.editor__docs {
  flex-grow: 0;
  width: auto;
  background-color: #292D30;
  border: 1px solid #48515B;
  border-left: none;
  transition: 0.5s;
  height: 100%;
  position: relative;
  overflow: hidden;

  &--open {
    flex-grow: 2;
    border-left: 1px solid #48515B;
    overflow-y: auto;

    @media (max-width: $md) {
      flex-grow: 1;
      border-top: none;
    }

    @media (max-width: $sm) {
      border-left: none;
    }
  }
}

.editor__docs-content {
  position: absolute;
  visibility: hidden;
  padding: 0.5rem;
}

.editor__docs-content--open {
  visibility: visible;
}