.error-image {
  width: 20rem;
}

.error-wrapper {
  background-color: #2E3235;
  min-height: 100vh;
  padding-bottom: 1rem;
}

.error-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

@media (max-width:620px) {
  .error-image {
    width: 10rem;
  }
}